:root {
    --fondo-principal: #1f2222;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    width: 100vw;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav {
    background-color: var(--fondo-principal);
}

.img-principal {
    width: 100%;
    margin-top: 20px;
}

.sect-principal {
    background-color: var(--fondo-principal);
    padding: 10px 0;
}

.sect-principal h1 {
    font-weight: 100;
    font-size: 50px;
}

.villanos {
    width: 60%;
    padding: 50px;
}

.sect-heroes {
    padding-top: 40px;
    border-bottom: 3px solid #ccc;
}

.sect-heroes figure {
    width: 65%;
    height: 285px;
    margin: 0 20px;
}

.sect-heroes img {
    width: 100%;
    object-fit: cover;
}

.sect-heroes .heroe {
    font-size: 20px;
    margin-bottom: 20px;
}

.sect-heroes .heroe {
    padding: 16px;
}

.sect-heroes h2 {
    margin-bottom: 50px;
    font-size: 36px;
}

footer {
    background-color: var(--fondo-principal);
    font-size: 22px;
    padding: 20px 0;
}

@media screen and (max-width: 1024px) {
    .sect-heroes {
        text-align: center;
    }
    .sect-heroes .heroe {
        display: block !important; 
    }

    .sect-heroes figure {
        width: 40%;
        height: inherit;
        margin-bottom: 35px;
        padding: 0 !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 850px) {
    .villanos {
        width: 100%;
    }

    .sect-heroes {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .img-principal img {
        width: 100%;
    }
    
}